@{
    ViewBag.Title = "Privacy Policy";
}

<h2>Privacy Policy</h2>
<div class="row">
    <div class="col-lg-11">
        
        <p>
            Shady Pines, Our nursing home has a policy on privacy and dignity of the residents and all staff are trained to 
            strive to preserve and maintain the dignity, individuality and privacy of all residents within a warm and caring
            atmosphere, and in doing so will be sensitive to the resident’s ever changing needs. 
            <p></p>
            All shared rooms have curtains 
            around the beds which are used when carrying out personal care and all medical information on residents is held on a 
            confidential basis.We would like you to think of Shady Pines Nursing Home as your home from home. Our staff will do their
            utmost to protect your privacy and dignity by:
            <p></p>

            <ul>1. Knocking before entering your room</ul>

            <ul>2. Asking your permission prior to any personal/ nursing interventions</ul>

            <ul>3. Asking your permission before staff undergo training and development in your personal care</ul>
            
            <ul>4. You have the choice of male or female care staff to be involved in your care</ul>

            <ul>5. If you feel your privacy and dignity is being compromised then please inform a member of staff that you feel comfortable with</ul> 
            <p></p>

            <h2>Complaints</h2>
              <p></p>
            <p>We encourage all residents and visitors to give us feedback on our home, facilities and any specific issues
            that may arise. Any complaints will be dealt with as quickly as possible and in line with our complain ts
            procedure. A notice is prominently displayed on the procedure to be followed when making a compliant in our front hall. </p>

    </div>
</div>